body{background-color:#F3F3F3;}
/* Slider */
.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .carousel-inner h1
{
    position: absolute;
    z-index: 3;
    color:beige;
    font-size: 100px;
    font-family:"Courier New", monospace;
    animation-iteration-count:2;
}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}
.slider .carousel-item {
    width: 1500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slider .items .carousel-one {
    background-image: url('../images/1.jpg')}
.slider .items .carousel-two {
    background-image: url('../images/2.jpg')}
/* End Slider */
/* Start Navbar */
.navbar{background-color: #222e32;}
.navbar-dark .navbar-brand{color: beige;}
.navbar-dark .navbar-brand:hover{color: #e9f3f5;}
.navbar-dark button{
    font-family:"Courier New", monospace;
    font-size: 18px;
    line-height: 1.5;
}
.navbar a{text-decoration-line: none;}
.navbar a:hover{color: #e9f3f5;}
.navbar-dark .navbar-nav .nav-link{color: beige;}
.navbar ul li{
    margin: 10px 15px;
    font-weight: 500;
    font-family:"Courier New", monospace;
    font-size: 20px;
    letter-spacing:1px;
}
/* End Navbar */
/* Start About */
.about{padding: 50px 0; background-color: #FFF;}
.about .info{padding: 5em;}
.about .info h1 {
    margin-top: 2em;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.about .info p {
    color: #7A7A7A;
    font-size: 18px;
    font-family:"Courier", monospace;
}
@media (max-width:768px){
.about{padding: 20px 0; }
.about .info {padding: 2em;}
.about .info h1 {margin-top: 0;}
}
.about strong{color:#145478;}
.about i{color:#145478;}
.about .img-one{box-shadow: 10px 10px 10px #777; margin-top: 4em; width: 100%;}
.about .img-two{box-shadow: 10px 10px 10px #777; width: 100%;}
/* End About */
/* Start Services */
.services{
    padding: 100px 0;}
.services h1{
    margin-bottom: 50px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.services h3{
    margin-top: 30px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.services p {
    color: #7A7A7A;
    font-size: 18px;
    font-family:"Courier", monospace;}
.services i {color: #E06666}
/* End Services */
/* Start Recipes */
.recipes{padding: 100px 0;background-color: #FFF;}
.recipes h1{
    margin-bottom: 2em;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;}
.recipes img {
    border-radius:50%;
    box-shadow: 10px 10px 10px #777;
}
.recipes h5{
    margin-top: 30px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.recipes p {
    color: #7A7A7A;
    font-size: 18px;
    font-family:"Courier", monospace;}
.recipes strong{color:#145478;}
.recipes a {
    font-family:"Courier", monospace; 
    font-weight: 900;
    text-transform: uppercase;
     margin-top: 20px;
}
@media (max-width:768px){
.recipes{padding: 50px 0;}
.recipes h1{margin-bottom: 1em;}
.recipes img {width: 50%;}
}
/* End Recipes */
/* Start Menu */
.menu{padding: 100px 0;}
.menu h1 {
    margin-bottom: 50px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;}
.menu img{ width: 80%; margin: 20px 0;}
.menu h5{
    margin-top: 30px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.menu p {
    color: #7A7A7A;
    font-size: 18px;
    font-family:"Courier", monospace;}
.menu strong{color:#145478;}
.menu a {
    font-family:"Courier", monospace; 
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
}
/* End Menu */
/* Start Blogs */
.blog { padding: 100px 0;}
.blog h1 {
    margin-bottom: 50px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
    text-align: center;
}
.blog .card{margin-bottom: 20px;}
.blog p{
    color: #7A7A7A;
    font-size: 15px;
    font-family:"Courier", monospace;}
.blog h5{
    margin-top: 30px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.blog a {
    color: #7A7A7A;
    font-size: 15px;
    font-family:"Courier", monospace;
    text-decoration-line: none
}
.blog a:hover{color:#145478; }
.blog i {float: right;color:#145478;padding-top: 10px;}
/* End Blogs */
/*Start Testmonial*/
.testmonial{padding: 100px 0; background-color: #FFF;}
.testmonial h1 {
    margin-bottom: 50px;
    color:#145478;
    font-weight: 900;
    font-family:"Courier New", monospace;
    text-align: center;
}
.testmonial .card{border: 0; align-items: center;margin-bottom: 20px;}
.testmonial .card img {max-width:65%; margin-bottom: 20px;}
.testmonial blockquote {
    margin: 20px 0;
    color: #7A7A7A;
    font-size: 18px;
    font-family:"Courier", monospace;}
.testmonial span {
    color: #E06666;
    font-size: 20px;
 }
/*End Testmonial*/
/*Start Contact*/
.contact {padding: 100px 0; background-color:#492222; }
.contact h1{
    margin-bottom: 20px;
    color: #F5FFFA;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.contact h4{
    margin-bottom: 20px;
    color:#F5FFFA;
    font-weight: 900;
    font-family:"Courier New", monospace;
}
.contact p{
    color: #C2C2C2;
    font-size: 16px;
    font-family:"Courier", monospace;
}
.contact .info { margin-top: 1em;}
.contact p strong{
    color: #F5FFFA;
    font-size: 18px;
    font-family:"Courier", monospace;}
.contact .social {margin-top: 2em; text-align: center;}
.contact  i { color: #C2C2C2; margin: 10px;}
.contact a i:hover { color: #656866;}
/*End Contact*/
/*Start Footer*/
.footer{
    padding: 20px 0;
    background-color: #251212;
    }
.footer p {
    text-align: center;
     color: #C2C2C2;
    font-size: 18px;
    font-family:"Courier", monospace;
}
/*End Footer*/